{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Contacto</title>
    <meta charset="utf-8">
    <link rel="icon" href="static/css/Clic.ico">
    <link type="text/css" href='{% static "css/Contactanos.css" %}' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>

<body>
    <div class="todo">
        <div class="cont">
            <h1>Contáctanos</h1>
        </div>
            <form action="" method="POST" >
                {% csrf_token %}
                <div class="nombre">
                    <label> Nombre <input type="text" name="asunto" , required></label>
                </div>

                <div class="Email">
                    <label> E-mail: <input type="email" name="email" , required></label>
                </div>

                <div class="mensaje">
                    <label> Mensaje: <textarea class="Mensaje" name="mensaje" rows="10" cols="40"
                            maxlength="500 characters" required></textarea></label>
                </div>

                <div class="enviarp">
                    <input type="submit" value="Enviar" class="enviar">
                </div>
            </form>
    </div>
</body>

</html>