{% load static %}
<html>

<head>
    <title>Inscripción</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href='{% static "css/formularios.css" %}'>
    <link rel="icon" href="static/css/Clic.ico">
    <script src="https://kit.fontawesome.com/002fa1a054.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <div class="todo">
        <div class="title">
            <img src="static/css/logo.png" alt="">
            <div class="inscripcion">
                <h1>Inscripción</h1>
            </div>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="plinea">
                <div class="nombrebanda">
                    <label>Nombre de banda o Artista</label><input type="text" name="Nombre" placeholder='EJ:"La Solución"'required>
                </div>

                <div class="int">
                    <label>Cantidad de integrantes</label><input type="number" name="Integrantes" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2">
                </div>

                <div class="rubro">
                    <label>Rubro o género de música <input type="text" name="Rubro" placeholder='EJ:"Rock"' required></label>
                </div>
            </div>
            <div class="slinea">
                <div class="info">
                    <label>información Artista o Reseña</label><textarea type="text" name="Reseña" placeholder='Mensaje o Link sobre la Banda o Artista'
                        required></textarea>
                </div>

                <div class="lineav">
                    <div class="tel">
                        <label>Contacto telefónico <input id="textol" type="number" name="Teléfono" placeholder='EJ:"3329-698750"(Sin +54)' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="10" maxlength="11" required></label>
                    </div>
                    <label id="local2">Provincia<select class="listap"></label>
                    <option value="" disabled="" selected="">Provincia</option>
                    <option>Baradero</option>
                    </select>
                </div>
                <div class="lineav">
                    <div class="mail">
                        <label>Contacto Mail <input id="textol" type="email" name="Email" placeholder='EJ:"LaSolucion@gmail.com"' required></label>
                    </div>
                    <label id="local1">Localidad<select class="listal"></label>
                    <option value="" disabled="" selected="">Localidad</option>
                    <option>Baradero</option>
                    </select>
                </div>
            </div>

            <div class="tlinea">
                <div class="material">
                    <label>Material discográfico <input type="text" name="Materiales" placeholder="Link de Canciones"></label>
                </div>

                <div class="RS">
                    <label>CUIT <input type="text" name="CUIT" placeholder='EJ:"20-20452134-7"' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="11" maxlength="13" required></label>
                </div>

                <div class="costo">
                    <label>Costo <input type="number" name="Costo" placeholder="Valor estimado del Show" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="5" maxlength="7" required></label>
                </div>
            </div>
            <hr>
            <div>
                <input class="enviar" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</body>
<div class="todopie">
    <footer>
        <div class="pie">
            <a class="nav-link text-uppercase text-expanded" href="contacto" id="tcont"
                title="comentar algún problema">Contáctanos</a>
            <i id="ayuda" class="fa-regular fa-comment"></i>
            <P>Nuestras Redes</P>
            <a href="https://www.facebook.com/MunicipalidaddeBaradero" target="_blank"><i id="face"
                    class="fa-brands fa-square-facebook" title="Página de Facebook"></a></i>
            <a href="https://www.instagram.com/municipiobaradero/" target="_blank"><i id="insta"
                    class="fa-brands fa-instagram" title="Perfil de Instagram"></a></i>
        </div>
    </footer>
</div>

</html>