{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pre-Festival Baradero</title>
        <meta charset="utf-8">
        <link rel="icon" href="static/css/Clic.ico">
        <link type="text/css" href='{% static "css/Pantalla Principal.css" %}' rel="stylesheet">
        <script src="https://kit.fontawesome.com/002fa1a054.js" crossorigin="anonymous"></script>
    </head>
    <body>      
        <div class="todo">
            <div class="titulo">
                <h1>Inscripcion Pre-festival Baradero</h1>
            </div>

            <div class="informacion">
                 Con el objetivo de dar oportunidad a nuevas voces y artistas se realiza desde hace más de 30 años el Pre-Festival Baradero,
                pudiendo así los ganadores de los diferentes rubros participar en el Festival Nacional.
                 El mismo se realizará durante cuatro noches: 3, 4, 5 y 6 de febrero, una semana antes del Festival Nacional de Música Popular
                Argentina Baradero 2022 en el Anfiteatro Municipal. El mismo contó con sedes en todas las provincias del país, convirtiéndose en un evento con identidad propia y federal.
                 Son 16 rubros y un jurado de excelencia por cada uno.
            </div>
                <hr>
            <div>
                <button onclick="location.href='formularios'" title="Ir al Formulario">Iniciar Inscripción</button>
            </div>
        </div>
    </body>
    <div class="todopie">  
        <footer>           
            <div class="pie">   
                <img src="static/css/logo.png" alt="">             
                <a class="nav-link text-uppercase text-expanded" href="contacto" id="tcont" title="comentar algún problema">Contáctanos</a>
                <i id="ayuda" class="fa-regular fa-comment"></i>
                <P>Nuestras Redes</P>
                <a href="https://www.facebook.com/MunicipalidaddeBaradero" target="_blank"><i id="face" class="fa-brands fa-square-facebook" title="Página de Facebook"  ></a></i>
                <a href="https://www.instagram.com/municipiobaradero/" target="_blank"><i id="insta" class="fa-brands fa-instagram" title="Perfil de Instagram"></a></i>
            </div>
        </footer>
    </div>  
    
</html>