@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-size: 25px;
    font-family: 'Albert Sans', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(fondo.jpg);
}

h1{
    text-align: center;
    font-size: 5em;
}

summary{
    margin-top: 1em;
    font-size: 32px;
    cursor: pointer;
}

.img1 img{
    position: absolute;
    margin-left: 28em;
    margin-bottom: 15px;
}

.img1 ul{
    margin-right: 15em;
}

p{
    margin-top: 1em;
    text-indent: 35px;
}

.contenedor{
    display: flex;
    background-color: rgb(238, 232, 232);
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
    border-radius: 2%;
    padding: 0;
    justify-content: center;
}

.contenedor h2{
    background-color: rgb(94, 135, 245);
    margin-left: -40px;
    margin-right: -40px;
    display: flex;
}

.contenido{
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 2em;
}

.contenido h2{
    padding-left: 35px;
}

.contenedor li{
    margin-left: 1em;
}

h2{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
    background-color: rgb(94, 135, 245);
}

h3{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
}
ul{
    margin-top: 1em;
}

header{
    background-color:rgba(0, 0, 0, 0.349);
    display: flex;
}

a{
    font-size: 2em;
    margin-right: 1em;
    margin-top: 10px;
    margin-left: 3em;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(238, 225, 225);
}

.eov img{
    position: absolute;
    margin-left: 29em;
}

.eov{
    margin-right: 16em;
}

.culpa img{
    position: absolute;
    margin-left: 30em;
}

.culpa p{
    margin-right: 15em;
}

.error1 img{
    position: absolute;
    margin-left: 31em;
    margin-top: 45px;
}

.error1 li{
    margin-right: 14em;
}

.error2 img{
    position: absolute;
    margin-top: 35px;
    margin-left: 1em;
}

.error2 li{
    margin-left: 14em;
}

.error3 img{
    position: absolute;
    margin-top: 45px;
    margin-left: 32em;
}

.error3 li{
    margin-right: 12em;
}


.error4 img{
    position: absolute;
    margin-top: 65px;
    margin-left: 1em;
}

.error4 li{
    margin-left: 12em;
}


.error5 img{
    position: absolute;
    margin-top: 60px;
    margin-left: 33em;
}

.error5 li{
    margin-right: 12em;
}


.error6 img{
    position: absolute;
    margin-top: 75px;
    margin-left: 2em;
}

.error6 li{
    margin-left: 13em;
}


.error7 img{
    position: absolute;
    margin-top: 4em;
    margin-left: 30em;
    margin-bottom: 10px;
}

.error7 li{
    margin-right: 12em;
}


.error8 img{
    position: absolute;
    margin-top: 65px;
    margin-left: 1em;
}

.error8 li{
    margin-left: 14em;
}


.error9 img{
    position: absolute;
    margin-top: 35px;
    margin-left: 30em;
}

.error9 li{
    margin-right: 14em;
}

footer{
    background-color: rgba(0, 0, 0, 0.349);
    text-align: center;
}

hr{
    margin-left: -1em;
    margin-right: -1em;
}

 @media(max-width: 1200px){
    
    h1{
    text-align: center;
    font-size: 4em;
    }

    body{
        font-size: 3vh;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-image: url(fondo.jpg);
    }

    h2{
        font-size: 35px;
        margin-top: 40px;
        margin-bottom: 15px;
        background-color: rgb(94, 135, 245);
    }

    p{
        margin-top: 1em;
        text-indent: 15px;
    }

    .contenedor{
        display: flex;
        background-color: rgb(238, 232, 232);
        margin-top: 1em;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 1em;
        border-radius: 2%;
        padding: 0;
        justify-content: center;
    }
    
    .contenedor h2{
        background-color: rgb(94, 135, 245);
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
    }
    
    .contenido{
        padding-left: 15px;
        padding-top: 25px;
        padding-right: 15px;
        padding-bottom: 2em;
    }
    
    .contenido h2{
        padding-left: 15px;
    }

    .error1 img{
        position: absolute;
        margin-left: 5em;
        margin-top: 12em;
        height: 160px;
        width: 190px;
    }
    
    .error1 ul{
        margin-right: -14em;
        padding-bottom: 10em;
    }
    
    .error2 img{
        position: absolute;
        margin-top: 15em;
        margin-left: 5em;
        height: 150px;
        width: 200px;
    }
    
    .error2 ul{
        margin-left: -13em;
        padding-bottom: 10em;
    }
    
    .error3 img{
        position: absolute;
        margin-top: 15em;
        margin-left: 5em;
        height: 170px;
        width: 190px;
    }
    
    .error3 ul{
        margin-right: -12em;
        padding-bottom: 10em;
    }
    
    .error4 img{
        position: absolute;
        margin-top: 16em;
        margin-left: 5em;
        height: 160px;
        width: 180px;
    }
    
    .error4 ul{
        margin-left: -11em;
        padding-bottom: 10em;
    }
    
    .error5 img{
        position: absolute;
        margin-top: 17em;
        margin-left: 5em;
        height: 170px;
        width: 170px;
    }
    
    .error5 ul{
        margin-right: -12em;
        padding-bottom: 12em;
    }
    
    .error6 img{
        position: absolute;
        margin-top: 16em;
        margin-left: 5em;
        height: 160px;
        width: 180px;
    }
    
    .error6 ul{
        margin-left: -12em;
        padding-bottom: 12em;
    }
    
    .error7 img{
        position: absolute;
        margin-top: 13em;
        margin-left: 5em;
        margin-bottom: 10px;
        height: 160px;
        width: 180px;
    }
    
    .error7 ul{
        margin-right: -10em;
    }

    .err7{
        padding-bottom: 11em;
    }
    
    .error8 img{
        position: absolute;
        margin-top: 13em;
        margin-left: 5em;
        height: 150px;
        width: 200px;
    }
    
    .error8 ul{
        margin-left: -13em;
        padding-bottom: 10em;
    }
    
    .error9 img{
        position: absolute;
        margin-top: 13em;
        margin-left: 5em;
        height: 125px;
        width: 175px;
    }

    .error9 ul{
        margin-right: -12em;
        padding-bottom: 12em;
    }

    header{
        background-color:rgba(0, 0, 0, 0.349);
        display: flex;
    }
    
    header a{
        font-size: 25px;
        margin-right: 1em;
        margin-top: 18px;
        margin-left: 1em;
        margin-bottom: 10px;
        text-decoration: none;
        color: rgb(238, 225, 225);
    }

    .img1 img{
        position: absolute;
        margin-top: 13em;
        margin-left: 4em;
        margin-bottom: 20px;
        height: 150px;
        width: 280px;
    }
    
    .img1 ul{
        margin-right: 0;
        padding-bottom: 8em;
    }
    
    hr{
        margin-left: 0;
        margin-right: 0;
    }

    summary{
        margin-top: 1em;
        font-size: 25px;
        cursor: pointer;
    }

    .eov img{
        position: absolute;
        margin-top: 13em;
        margin-left: 5em;
        height: 175px;
        width: 225px;
    }
    
    .eov{
        margin-right: 0;
        padding-bottom: 11em;
    }

    .culpa img{
        position: absolute;
        margin-left: 5em;
        margin-top: 9em;
        height: 170px;
        width: 200px;
    }
    
    .culpa p{
        margin-right: 0;
        padding-bottom: 10em;
    }
 }