@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-size: 25px;
    font-family: 'Albert Sans', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(fondo.jpg);
}

.contenedor{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 232, 232);
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    border-radius: 2%;
    padding: 0;
    justify-content: center;
}

h1{
    margin-top: 1em;
    text-align: center;
    font-size: 4em;
}

header{
    background-color:rgba(1, 0, 63, 0.349);
    display: flex;
}

header a{
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 10px;
    padding-left: 2.2em;
    padding-right: 2.2em;
    text-decoration: none;
    color: rgb(238, 225, 225);
}

.conth {
    margin-left: 0.6em;
    display: flex;
}

.ha1:hover {
    background-color: rgba(0, 0, 24, 0.507);
    transition: 0.5s;
    font-size: 1.1em;
}

.ha2:hover {
    background-color: rgba(0, 0, 24, 0.507);
    transition: 0.5s;
    font-size: 1.1em;
}

.ha3:hover {
    background-color: rgba(0, 0, 24, 0.507);
    transition: 0.5s;
    font-size: 1.1em;
}

header img {
    border-radius: 50%;
    width:75px;
    height:75px;
}

.form{
    padding: 20px;
    text-align: center;
}

.form__input{
    padding: 20px;
}

p{
    text-align: left;
}

.input{
    width: 400px;
    padding: 10px;
    font-size: 20px;
}

.submit{
    padding: 10px;
    margin-top: 2em;
    font-size: 15px;
}

footer{
    background-color: rgba(0, 0, 0, 0.349);
    text-align: center;
    margin-top: 6em;
}

@media (max-width: 1200px){
    body{
        font-size: 25px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-image: url(fondo.jpg);
    }
    
    .contenedor{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(238, 232, 232);
        margin-top: 2em;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-bottom: 2em;
        border-radius: 2%;
        padding: 0;
        justify-content: center;
    }
    
    h1{
        margin-top: 1em;
        text-align: center;
        font-size: 4em;
    }
    
    header{
        background-color:rgba(0, 0, 0, 0.349);
        display: flex;
    }
    
    header a{
        font-size: 28px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        text-decoration: none;
        color: rgb(238, 225, 225);
    }

    .conth {
        margin-left: 0.6em;
        display: flex;
    }
    
    .ha1:hover {
        background-color: rgba(0, 0, 24, 0.507);
        transition: 0.5s;
        font-size: 1.1em;
    }
    
    .ha2:hover {
        background-color: rgba(0, 0, 24, 0.507);
        transition: 0.5s;
        font-size: 1.1em;
    }
    
    .ha3:hover{
        background-color: rgba(0, 0, 24, 0.507);
        transition: 0.5s;
        font-size: 1.1em;
    }

    .form{
        padding: 3vh;
        text-align: center;
    }
    
    .form__input{
        padding: 3vh;
    }
    
    p{
        text-align: left;
    }
    
    .input{
        width: 350px;  
        padding: 5px;
        font-size: 20px;
    }
    
    .submit{
        width: 100px;
        padding: 10px;
        margin-top: 1em;
        font-size: 22px;
    }

    footer{
        background-color: rgba(0, 0, 0, 0.349);
        text-align: center;
        margin-top: 90px;
    }
}